main {
  position: absolute;
  top: 0;
  margin: 0 0 0 140px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-bottom: 10px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1100px;
}

.error {
  color: #fff;
}
.movie {
  margin-top: 10px;
  width: 90%;
  align-items: center;
}

.movie p {
  font-size: 0.8rem;
  padding: 5px;
  line-height: 1;
  margin-top: 15px;
  margin: 5px;
}

.movie h2 {
  text-align: center;
  margin: 8px;
}

@media only screen and (min-width: 1000px) {
  .img-container {
    width: 50%;
  }

  main {
    position: absolute;
    left: 300px;
    margin: 0;
  }

  .movie-container {
    flex-direction: row;
  }

  .wrap {
    position: relative;
    bottom: 100px;
  }
}
