body {
  background-image: url("./assets/curtains.png");
  background-color: blanchedalmond;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center left;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: -80px;
  }
}
